* {
	padding: 0px;
	margin: 0px;
	border: none;
    --color_main: #FAF9F5;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Links */
a, a:link, a:visited  {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}
ul, ul li {
	list-style: none;
}
html, body{
    background-color: var(--color_main);
}



/*navigate*/

.nav{
margin: auto;
width: 80%;
justify-content: space-between;
}

.nav-link{
    color: #111111;
}